*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
learning mat/
class_dependencies.txt
pranesh.txt
sayar.txt
CODEBASE_DOC.txt
CODEBASE_DOC.tex
combine.tex
ans.txt
questions.txt
learning_mat_combined.tex
logcat.txt
logcat1.txt
